:root {
  --cor-preta: #060607;
  --cor-verde-escuro: #054E3F;
  --cor-botao: #EB481F;
  --cor-texto: #DEE4D8;
  --fonte-principal: Arial, sans-serif;
}


/* Global Styles */
body {
    background-color: var(--cor-preta);
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url("img/imagem-fundo.png") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: var(--cor-botao);
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: var(--cor-texto);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--cor-verde-escuro);
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  